body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.highlight {
    border-color: red;
    color: red;
}

.h-150-strong{
    height: 150px !important;
}

.max-h-150{
    max-height: 150px;
}

.min-h-150{
    min-height: 150px;
}

.max-w-100p{
    max-width: 100% !important;
}

.m-b-10{
    margin-bottom: 10px;
}

.m-t-10{
    margin-top: 10px;
}

.p-5{
    padding: 5px;
}

.p-l-0{
    padding-left: 0px;
}

.text-center-strong{
    text-align: center !important;
}

.scroll-v-auto{
    overflow-y: auto;
}

td.details-control {
    background: url('DataTables/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('DataTables/images/details_close.png') no-repeat center center;
}

.bold{
   font-weight: 600;
}
