/PostponedPosting.Common/bin
/PostponedPosting.Common/obj
/packages
/PostponedPosting.Domain/obj
/PostponedPosting.Domain/bin
/PostponedPosting.Domain.Core/obj
/PostponedPosting.Domain.Core/bin
/PostponedPosting.Helpers/bin
/PostponedPosting.Helpers/obj
/PostponedPosting.Persistence.ApplicationService/obj
/PostponedPosting.Persistence.ApplicationService/bin
/PostponedPosting.Persistence.Data/obj
/PostponedPosting.Persistence.Data/bin
/PostponedPosting.Persistence.ServiceModel/obj
/PostponedPosting.Persistence.ServiceModel/bin
/PostponedPosting.SeleniumApp/PostponedPosting.SeleniumApp/obj
/PostponedPosting.SeleniumApp/PostponedPosting.SeleniumApp/bin
/PostponedPosting.WebUI/obj
/PostponedPosting.WebUI/bin
/PostponedPosting.SeleniumApp/packages
/PostponedPosting.WebUI/Content/DataTables
/PostponedPosting.WebUI/Content/bootstrap
/PostponedPosting.WebUI/Scripts/Custom
/PostponedPosting.WebUI/Scripts/DataTables
/PostponedPosting.WebUI/Scripts/typings
/PostponedPosting.WebUI/Scripts/jquery-2.1.1.min.js
/PostponedPosting.WebUI/Scripts/jquery-2.1.1.min.map
/PostponedPosting.WebUI/Scripts/bootstrap.js
/PostponedPosting.WebUI/Scripts/bootstrap.min.js
/PostponedPosting.WebUI/Scripts/bootstrap-datetimepicker.js
/PostponedPosting.WebUI/Scripts/bootstrap-datetimepicker.min.js
/PostponedPosting.WebUI/Scripts/jquery.signalR-2.2.1.js
/PostponedPosting.WebUI/Scripts/jquery.signalR-2.2.1.min.js
/PostponedPosting.WebUI/Scripts/jquery-2.1.1.intellisense.js
/PostponedPosting.WebUI/Scripts/jquery-2.1.1.js
/PostponedPosting.Persistence.Data/Migrations/*.resx
