/PostponedPosting.Common/bin
/PostponedPosting.Common/obj
/packages
/PostponedPosting.Domain/obj
/PostponedPosting.Domain/bin
/PostponedPosting.Domain.Core/obj
/PostponedPosting.Domain.Core/bin
/PostponedPosting.Helpers/bin
/PostponedPosting.Helpers/obj
/PostponedPosting.Persistence.ApplicationService/obj
/PostponedPosting.Persistence.ApplicationService/bin
/PostponedPosting.Persistence.Data/obj
/PostponedPosting.Persistence.Data/bin
/PostponedPosting.Persistence.ServiceModel/obj
/PostponedPosting.Persistence.ServiceModel/bin
/PostponedPosting.SeleniumApp/PostponedPosting.SeleniumApp/obj
/PostponedPosting.SeleniumApp/PostponedPosting.SeleniumApp/bin
/PostponedPosting.WebUI/obj
/PostponedPosting.WebUI/bin
/PostponedPosting.SeleniumApp/packages
